#!/usr/bin/env zsh

# common
alias o="open ."
alias ll="ls -al"
alias lsp="sudo lsof -i -n -P | grep LISTEN"
alias largest="du -a | sort -n -r | head -n 10"
alias refreshdesktop="killall Dock"

# mv with progress
function mvp {
	rsync -av --info=progress2 "$1" "$2"
	trash "$1"
}
function cpp {
	rsync -za --info=progress2 "$1" "$2"
}

# sqlitebrowser
alias sqlitebrowser="/Applications/DB\ Browser\ for\ SQLite.app/Contents/MacOS/DB\ Browser\ for\ SQLite"

# shortcuts to show & hide hidden files
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='n'

# show/hide desktop icons
alias showDesktopIcons='defaults write com.apple.finder CreateDesktop true ; killall Finder'
alias hideDesktopIcons='defaults write com.apple.finder CreateDesktop false ; killall Finder'

# notifications for long running terminal tasks
# example: git pull -r ndone
alias -g ndone='; osascript -e "display notification \"Done with task\" with title \"Terminal\"" && say -v Samantha done'

# show ports in use
alias showports='lsof -i -n -P'

# node package lists
alias ng="npm list -g --depth=0 2>/dev/null"
alias nl="npm list --depth=0 2>/dev/null"

# Docker
if ! docker info >/dev/null 2>&1; then
    echo "Docker does not seem to be running, no Docker aliases were set."
else
	alias dcomp="docker-compose"
	alias dcu="docker-compose up -d"
	alias dcd="docker-compose down"
	alias dex=dex-fn
	alias di=di-fn
	alias dim="docker images"
	alias dip=dip-fn
	alias dl=dl-fn
	alias dnames=dnames-fn
	alias dps="docker ps"
	alias dpsa="docker ps -a"
	alias drmc="docker rm $(docker ps --all -q -f status=exited)"
	alias drmid="docker rmi $( docker images -q -f dangling=true)"
	alias drun=drun-fn
	alias dsr=dsr-fn
	alias dnuke="docker container rm -f $(docker container ls -qa) ; docker image rm -f $(docker image ls -q)"
fi

# get ip address of url
alias getip="dig $1 +short"
alias myip="curl -4 ifconfig.io"

# run diabetes report
alias carelink="/Users/dustin/.nvm/versions/node/v8.11.4/bin/node /Users/dustin/src/p/dailygrades/carelink.js"
alias grades="cd ~/src/p/dailygrades ; node missing.js email ; cd -"

# Speedtest
alias st="speedtest --server-id 12652"

# Git Tower
alias gt="gittower ."

# Git
alias gitloc="git ls-files | xargs wc -l"

# Python
alias superpip="PIP_REQUIRE_VIRTUALENV=false pip"
