#!/bin/zsh

function plexify {
    cd $PLEX_DIR
    youtube-dl $1
    cd -
}

function tstoplex {
    local new_name="${1%.m?ts}.mp4"
    ffmpeg -i "$1" -movflags faststart -acodec copy -vcodec copy -scodec copy "$new_name"
    cp "$new_name" "$PLEX_DIR"
}