
# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Personal
.cache
.cups
.hyper_plugins
.npm
.secrets
.ssh
.virtualenvs
.vpn
.vscode
.gitconfig
.gitignore_global
.config
.CFUserTextEncoding
.my_bin
.python_history
.zcompdump-*
.zsh_history
Applications
cron.error.log
cron.log
daily.py
Desktop
Documents
Library
Downloads
Movies
Music
n
Pictures
Public
