
# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Personal
.adobe
.android
.anyconnect
.aws
.bash_history
.BurpSuite
.cache
.calibre*
.CFUserTextEncoding
.cisco
.composer
.config
.cups
.docker
.dropbox
.dvdcss
.electron*
.gitconfig
.gitignore_global
.gitkraken
.heroku
.hyper_plugins
.hyper.js
.idlerc
.ipynb_checkpoints
.ipython
.jupyter
.KCR
.kms
.kms.lock
.lesshst
.licenses
.local
.mongossl
.mono
.my_bin
.netrc
.node*
.npm
.nuuid.ini
.nvm
.oh-my-zsh
.pgadmin
.pip
.poetry
.postman
.pyenv
.pylint.d
.python_history
.secrets
.ssh
.SynologyDrive
.Trash
.uplynk
.vagrant.d
.vim
.viminfo
.virtualenvs
.vpn
.vscode
.vue*
.wget-hsts
.wgetrc
.yarn*
.zapierrc
.zcompdump
.zcompdump-*
.zsh_history
.zsh_sessions
.zsh-update
/bin/alerter
Applications
cron.error.log
cron.log
daily.py
Desktop
dev
devtools
docker
Documents
Downloads
Dropbox
launcher.db
lib
Library
Movies
Music
n
openconnect*
Pictures
Public
Sites
src
