
# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Personal
.cache
.cups
.hyper_plugins
.npm
.secrets
.ssh
.virtualenvs
.vpn
.vscode
